.head-big{
  color: theme('colors.dark');
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 127.2%;
  letter-spacing: -1.294px;
  margin-top: 120px;
}

.head-gradient{
  background: linear-gradient(92deg, theme('colors.main') 1.78%, theme('colors.clear') 80.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.2%;
  letter-spacing: -1.294px;
}

.head-big-t{
  margin-top: 120px;
}

.head-big-s{
  margin-top: 40px;
}

@media (max-width: 680px) {
  .head-big{
    margin-inline: 1rem;
  }  
}