#navbar{
  padding: 0;
}

.navbar{
  position: fixed;
  border: 0px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 90px;
}

.brand {
  margin-left: 35px;
  display: flex;
}

.brand,
#offcanvasNavbarLabel {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar a,
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  text-decoration: none;
  color: inherit;  
}

.logo {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-left: 1rem;
}

.item-group {
  display: flex;
  justify-content: space-between;
  width: 420px;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 285px;
  margin-right: 35px;
}

.main-button {
  border-radius: 61px;
  border: 3px solid #57CBEF;
  background: #FFF;
  min-width: 132px;
  height: 44px;
  transition: border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}


.main-button:hover,
.main-button:active,
.main-button:focus {
  border-radius: 61px;
  border: 3px solid #57CBEF;
  background: #57CBEF;
  min-width: 132px;
  height: 44px;
}

.offcanvas .nav-item {
  margin-bottom: 12px;
}

.offcanvas .nav-link {
  padding: 0.5rem;
}

.offcanvas {
  text-align: center;
}

.offcanvas-nav {
  height: 80%;
  display: grid;
}

@media (max-width: 1090px) {
  .item-group,
  .nav-buttons,
  .brand .logo {
    display: none;
  }
  .brand {
    margin-left: 20px;
  }
}

@media (max-width: 639px) {
  #navbar-start{
    width:100%
  }
}
